{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/css/bootstrap-5.0.0-beta1-dist/css/bootstrap.css' %}">
  
    <script src="{% static '/css/bootstrap-5.0.0-beta1-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'static/js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script>
        setTimeout(function(){
            window.location.href="{% url 'login' %}";
        },1000);
    </script>
  </head>
  <body>
      <div class='container mt-5 text-center'>

        <h1 class='display-1'>Log out</h1>
        <p> You were logged out. </p>
      </div>
    
</body>
