{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BUGGITO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.0.0-beta1-dist/css/bootstrap.css' %}">
    <!-- drag and drop -->
    <script src="{% static  'js/jquery.js' %}"></script>
    <script src="{% static  'css/bootstrap-5.0.0-beta1-dist/js/bootstrap.js' %}"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static  'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static  'js/jquery.cookie.js' %}"></script>


    <script src="{% static  'js/modal.js' %}"></script>
    <script src="{% static  'js/util.js' %}"></script>
    <script src="{% static  'js/popper.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    
    <style>
.pulsingButton {
  box-shadow: 0 0 0 0 rgba(0, 200, 81, 0.7);
  border-radius: 10px;
  
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  
  transition: all 300ms ease-in-out;
}


/* Comment-out to have the button continue to pulse on mouseover */

a.pulsingButton:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  
}


/* Animation */

@-webkit-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(0, 200, 81, 0);
  }
}

@-moz-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(0, 200, 81, 0);
  }
}

@-ms-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(0, 200, 81, 0);
  }
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(0, 200, 81, 0);
  }
}
</style>
</head>

<body class="bg-light text-dark" >
   
    

<div class="container  pt-5 my-3 text-center">
    <div class="row "></br></br></div>
    <div class="row ">
       
        <div class="col-sm" >
            <div class="jumbotron text-center ">
                <h1 class="display-1">B U G G I T O</h1>
                <img src="{% static 'img/logo1.png' %}" alt="logo" width="25%" height="25%">
                <p class="text-center text-muted"> the tracker you need </p>
                </br>
                <p class=" mx-1">Use below to quickly test different accounts</p>
                <p><button class="btn btn-outline-success pulsingButton btn-sm" type='button' data-toggle="modal" data-target="#modal_test_log" id="test_login">Log in</button></p>
            </div>

        </div>
        <div class="col-sm">
            <div class="jumbotron  text-center">
                <h1 class="display-3 ">Welcome</h1>
                </br></br>
                <div class="login-form">
                    <form action ="{% url 'login' %}" method='post'>
                        {% csrf_token %}
                        {% if form.errors %}
                            <p>
                                Name or pass are incorrect.
                                Try again
                            </p>
                        {% else %}
                            <p>
                                Fill fields below to log in:
                            </p>
                        {% endif %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        </br>
                        <!-- <input type='hidden' name='next'value=' {{ next }}' /> -->
                        <p><input class="btn btn-outline-success" id="log_in" type='submit' value='Log in'> </p>
                    </form>                     
                </div>  
                
                </br>
               
                <a class="btn btn-outline-primary " href="{%url "password_reset" %}">Forgot password?</a>
                <!-- <button class="btn btn-outline-primary " type='button' data-toggle="modal" data-target="#modal_forgot_pass" id="forgot_pass">Forgot password?</button>
                 -->
                </br></br>
                <h4><a class="btn btn-outline-primary "  href="{%url "sign_up" %}">Register</a></h4>
                <!-- <button id="register_user" class="btn btn-outline-primary" type="button" name="button"><h4>Register<h4></button> -->
            </div>
        </div>

        

    </div>  
</div>


<!-- Modal Test Login -->
<div class="modal fade" id="modal_test_log" role="dialog" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content text-center">
                <div class="modal-header w-100">
                    <h4 class="modal-title w-100 text-center">Log as test account</h4>
                </div>
                 
            
            <div class="modal-body text-center">
                <button class="btn btn-outline-success m-2" id="profile_1">Standard User</button>
                <button class="btn btn-outline-success m-2" id="profile_2">Manager</button>
                <button class="btn btn-outline-success m-2"type='button' data-toggle="modal" data-target="#modal_admin_log" id="profile_3">Admin</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Test Login -->
<div class="modal fade" id="modal_admin_log" role="dialog" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content text-center">
                <div class="modal-header w-100">
                    <h4 class="modal-title w-100 text-center">interview content only</h4>
                </div>
                 
            
            <div class="modal-body text-center">
                <h3>Admin can give Standard Users manager status</h3></h>
                <p>To prevent this app from falling apart after multiple testing by different people 
                ADMIN is switch off from testing. I will gladly show it on the interview though!</p>
                <p>Contact me: <a href = "mailto: andrzejzimoch4@gmail.com">andrzejzimoch4@gmail.com</a></p>
                
            </div>
        </div>
    </div>
</div>





{% if user.is_authenticated %}
<script>
    setTimeout(function(){
        window.location.href="{% url 'dashboard' %}";
    },0);
</script>
{% endif %}


<script>

$('#profile_1').click(function(){
    $("[name='username']").val("test_user_1");
    $("[name='password']").val("dopiewiect1");
    $('#log_in').click();    
})

$('#profile_2').click(function(){
    $("[name='username']").val("test_manager_1");
    $("[name='password']").val("dopiewiecm1");
    $('#log_in').click();    
})

$('#profile_3').click(function(){
      
})


</script>



 </body>
 </html>
        
    

