
{% load static %}
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.0.0-beta1-dist/css/bootstrap.css' %}">
    <!-- drag and drop -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'css/bootstrap-5.0.0-beta1-dist/js/bootstrap.js' %}"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>


    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
<body >

<div class="text-center m-5">
    <h1>Reset password</h1>
    <p>We send You mail message with instructions</p>
    <p>If You can't find it, please make sure You submited mail, given while registering account</p>

</div>

</body>
