
{% load static %}
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.0.0-beta1-dist/css/bootstrap.css' %}">    
    <script src="{% static 'css/bootstrap-5.0.0-beta1-dist/js/bootstrap.js' %}"></script>




</head>
<body class="bg-light text-dark">

    
<div class="containter text-center">
<h1 class="display-1 m-5">Forgot your password?</h1>
<p class="">Type your mail to reset password</p>

<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input class="btn btn-outline-success" type='submit' value='Send email'></p>
    

</form>
    
    </div>

</body>
